
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;


$background-color: #F8F6FA;
$background-secondary: #e2e3e5;
$background-light: #ffffff;
$background-dark: #343a40;


$text-color: #333;
$text-light: #777;
$text-dark: #373A39;
$text__color-title:#242121;


$button-primary-bg: $primary-color;
$button-primary-text: #fff;
$button-success-bg: $success-color;
$button-success-text: #fff;
$button-danger-bg: $danger-color;
$button-danger-text: #fff;
$button-warning-bg: $warning-color;
$button-warning-text: #000;


$border-color: #ddd;
$border-radius: 3px;
$border-width: 1px;


